@import '../../utils/functions';
@import '../../utils/vars';
@import '../../utils/responsive';

$mobileVerticalOffset: 6rem;

.Services {
  @include respond-to(onlySmall) {
    margin-bottom: -#{$mobileVerticalOffset * 2};
  }
}
.Service {
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  position: relative;
  z-index: 3;
  
  @include respond-to(md) {
    flex-wrap: nowrap;
    margin: 0 between(-16px, -100px, $sm, $xlg);
    padding-top: 0;
  }

  @include respond-to(onlySmall) {
    margin-bottom: -#{$mobileVerticalOffset};
  }
}

.Service-copy {
  color: $copy;
}

.Service-contentWrap {
  @include respond-to(md) {
    flex: 1 1 0%;
    padding: between(30px, 100px, $md, $xlg);

    .Services > div:nth-child(odd) .Service &,
    .EditModal:nth-child(odd) .Service & {
      order: 2;
    }
  }
}

.Service-content {  
  @include respond-to(md) {
    padding: 0;
    margin: 0;
    max-width: between(400px, 576px, $md, $xlg);
    margin: auto;
  }

  @include respond-to(onlySmall) {
    max-width: 90%;
    margin: 0;
    position: relative;
    transform: translateY(-33.333%);
    margin-right: auto;
    z-index: 9;
    padding: $ms4 $ms3;
    background: $white;

    .is-first & {
      margin-right: 0;
      margin-left: auto;
    }
  }
}

.Service-heading {
  line-height: 1.2;
}

.Service-imageWrapper {
  overflow: hidden;
  position: relative;
  width: 100%;

  &::before {
    content: '';
    display: block;
    padding-bottom: 80%;
    width: 100%;
  }
  
  @include respond-to(md) {
    flex: 0 1 auto;
    width: 50%;

    .EditModal:nth-child(odd) .Service &,
    .Services > div:nth-child(odd) .Service & {
      order: 1;
    }
  }

  @include respond-to(onlySmall) {
    order: -1;
  }
}

.Service-image {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  flex: 1;
  overflow: hidden;
}


.Service-imageInner {
  background-position: right;
  background-size: cover;
  transform: scale(1.15) translateY(calc(var(--parallax) * 2rem));
  height: 100%;

  .Services > div:first-child .Service & {
    background-position: left;
  }
}
