@import '../../utils/vars.scss';

.Service {
  display: flex;
  position: relative;
  z-index: 3;
}

.Service-contentWrap {
  align-items: center;
  display: flex;
  flex: 1;

  .EditModal:nth-child(even) .Service & {
    order: 2;
    text-align: right;
  }

  .Services > div:nth-child(even) .Service & {
    order: 2;
    text-align: right;
  }
}

.Service-copy {
  $offset: 8rem;
  color: $copy;
  padding-right: $offset;

  .EditModal:nth-child(even) .Service & {
    padding-left: $offset;
    padding-right: 0;
  }

  .Services > div:nth-child(even) .Service & {
    padding-left: $offset;
    padding-right: 0;
  }
}

.Service-imageWrapper {
  flex: 0 1 auto;
  max-height: 620px;
  margin-right: -18.5%;
  overflow: hidden;
  position: relative;
  width: 68.5%;

  .EditModal:nth-child(even) .Service & {
    margin-left: -18.5%;
    margin-right: 0;
    order: 1;
  }

  .Services > div:nth-child(even) .Service & {
    margin-left: -18.5%;
    margin-right: 0;
    order: 1;
  }

  &::before {
    content: '';
    display: block;
    padding-bottom: 75%;
    width: 100%;
  }
}

.Service-image {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  flex: 1;
  overflow: hidden;

  .Services > div:first-child .Service & {
    background-position: center;
  }
}


.Service-imageInner {
  background-position: center;
  background-size: cover;
  transform: scale(1.2) translateY(calc(var(--parallax) * 2rem));
  height: 100%;
}
