@import '../../utils/functions';
@import '../../utils/vars';
@import '../../utils/responsive';

.Service {
  display: flex;
  flex-wrap: wrap;
  padding-top: var(--ms3);
  position: relative;
  z-index: 3;

  @include respond-to(md) {
    flex-wrap: nowrap;
    padding-top: 0;
  }
}

.Service-contentWrap {
  
  @include respond-to(md) {
    align-items: center;
    display: flex;
    flex: 1;
    padding-top: var(--ms1);

    .Services > div:nth-child(even) .Service &,
    .EditModal:nth-child(even) .Service &
     {
      order: 2;
    }
  }
}

.Service-content {
  padding-bottom: var(--ms1);
  @include respond-to(md) {
    padding: 0;
  }
}

.Service-copy,
.Service-heading {
  --offset: 8rem;

  @media only screen and (min-width: $md) and (max-width: $xlg) {
    --offset: between(80px, 128px, $md, $xlg);
  }
  @include respond-to(md) {
    padding-right: var(--offset);

    .EditModal:nth-child(even) .Service &,
    .Services > div:nth-child(even) .Service & {
      padding-left: var(--offset);
      padding-right: 0;
    }
  }
}

.Service-heading {
  line-height: 1.1;
}

.Service-imageWrapper {
  overflow: hidden;
  position: relative;
  width: 100%;

  &::before {
    content: '';
    display: block;
    padding-bottom: 75%;
    width: 100%;
  }
  
  @include respond-to(md) {
    flex: 0 1 auto;
    margin-right: -18.5%;
    max-height: 620px;
    width: 68.5%;
    .EditModal:nth-child(even) .Service & {
      margin-left: -18.5%;
      margin-right: 0;
      order: 1;
    }

    .Services > div:nth-child(even) .Service & {
      margin-left: -18.5%;
      margin-right: 0;
      order: 1;
    }
  }
}

.Service-image {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  flex: 1;
  overflow: hidden;

  .Services > div:first-child .Service & {
    background-position: center;
  }
}


.Service-imageInner {
  background-position: center;
  background-size: cover;
  transform: scale(1.2) translateY(calc(var(--parallax) * 2rem));
  height: 100%;
}
