@import '../../utils/functions';
@import '../../utils/vars';
@import '../../utils/responsive';

.CaseStudyPreview {
  display: block;
  margin: 0 auto;
  position: relative;
  
  @include respond-to(md) {
    display: flex;
    align-items: center;
    min-height: 30rem;
  }

  &:hover {
    .CaseStudyPreview-title {
      color: lighten($blue, 10%);
    }
    .CaseStudyPreview-background::after {
      opacity: 0.5;
    }
  }
}

.CaseStudyPreview-content {
  position: relative;
  z-index: 2;
  
  @include respond-to(md) {
    padding-right: 3rem;
    width: 40%;
  }

  .CaseStudyPreview.is-alignedRight & {
    
    @include respond-to(md) {
      margin-left: auto;
      text-align: right;
      padding-right: 0;
      padding-left: 3rem;
    }  
  }
}

.CaseStudyPreview-title {
  padding-bottom: var(--ms1);
  color: $blue;
  transition: color 0.2s;
}

.CaseStudyPreview-description {
  max-width: 80%;
  opacity: 0.6;
  padding-bottom: var(--ms1);

  .CaseStudyPreview.is-alignedRight & {
    @include respond-to(md) {
      margin-left: auto;
    }
  }
}

.CaseStudyPreview-background {
  background-position: left;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100%;
  
  .CaseStudyPreview.is-alignedRight & {
    @include respond-to(md) {
      left: 0; 
      right: auto;
    }
  }

  @include respond-to(md) {
    position: absolute;
    right: 0;
    top: 0;
    width: 60%;

    &::before {
      content: initial;
    }
  }

  &::after {
    background: $white;
    content: '';
    height: 100%;
    mix-blend-mode: soft-light;
    opacity: 0.2;
    position: absolute;
    right: 0;
    top: 0;
    transition: opacity 0.2s;
    width: 100%;
    z-index: 1;
  }
  
  &::before {
    content: '';
    display: block;
    padding-top: 50%;
  }
}

.CaseStudyPreview-parallaxTitle {
  position: absolute;
  opacity: 0.033;
  font-size: 15rem;
  bottom: -6rem;
  z-index: -1;
  font-weight: 700;
  left: -10rem;
  transform: translateX(calc(var(--parallax) * 3rem));
  .CaseStudyPreview.is-alignedRight & {
    left: auto;
    right: -10rem; 
  }
}