@import '../../utils/vars.scss';
@import '../../utils/functions.scss';

.CaseStudyPreview {
  margin: 0 auto;
  min-height: 30rem;
  position: relative;
  display: flex;
  align-items: center;

  &:hover {
    .CaseStudyPreview-title {
      color: lighten($blue, 10%);
    }
    .CaseStudyPreview-background::after {
      opacity: 0.5;
    }
  }
}

.CaseStudyPreview-content {
  padding-right: 3rem;
  position: relative;
  width: 40%;
  z-index: 2;

  .CaseStudyPreview.is-alignedRight & {
    margin-left: auto;
    text-align: right;
    padding-right: 0;
    padding-left: 3rem;
  }
}
.CaseStudyPreview-title {
  padding-bottom: $ms1;
  color: $blue;
  transition: color 0.2s;

  > h1 {
    font-size: 3rem;
  }
}

.CaseStudyPreview-description {
  max-width: 80%;
  opacity: 0.6;
  padding-bottom: $ms1;  
  .CaseStudyPreview.is-alignedRight & {
    margin-left: auto;
  }
}

.CaseStudyPreview-background {
  background-position: left;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100%;
  position: absolute;
  right: 0;
  top: 0;
  width: 60%;

  .CaseStudyPreview.is-alignedRight & {
    left: 0; 
    right: auto;
  }
  &::after {
    background: $white;
    content: '';
    height: 100%;
    mix-blend-mode: soft-light;
    opacity: 0.2;
    position: absolute;
    right: 0;
    top: 0;
    transition: opacity 0.2s;
    width: 100%;
    z-index: 1;
  }
}
.CaseStudyPreview-logo {
  display: none;
  position: absolute;
  right: 20%;
  top: 20%;
  width: 13rem;
}

.CaseStudyPreview-parallaxTitle {
  position: absolute;
  opacity: 0.033;
  font-size: 15rem;
  bottom: -6rem;
  z-index: -1;
  font-weight: 700;
  left: -10rem;
  transform: translateX(calc(var(--parallax) * 3rem));
  .CaseStudyPreview.is-alignedRight & {
    left: auto;
    right: -10rem; 
  }
}