@import '../../utils/functions';
@import '../../utils/vars';
@import '../../utils/responsive';

.CaseStudyPreview {
  display: block;
  margin: 0 auto;
  position: relative;
  
  @include respond-to(md) {
    display: flex;
    align-items: center;
    min-height: 30rem;
  }

  &:hover {
    .CaseStudyPreview-title {
      color: lighten($blue, 10%);
    }
    .CaseStudyPreview-background::after {
      opacity: 0.5;
    }
  }
}

.CaseStudyPreview-content {
  --offset: 3rem;
  
  @media only screen and (min-width: $md) and (max-width: $xlg) {
    --offset: between(30px, 70px, $md, $xlg);
  }
  
  position: relative;
  z-index: 2;
  
  @include respond-to(md) {
    padding-right: var(--offset);
    width: 40%;
  }

  .CaseStudyPreview.is-alignedRight & {
    
    @include respond-to(md) {
      padding-right: 0;
      padding-left: var(--offset);
    }  
  }
}

.CaseStudyPreview-date {
  background: rgba($light, 0.6);
  display: inline-block;
  font-family: 'mono45-headline';
  letter-spacing: 0.05em;
  line-height: 1;
  margin-bottom: var(--ms2);
  padding: 4px 8px;
  text-transform: uppercase;
}

  .CaseStudyPreview-title {
    line-height: 1;
    padding-bottom: var(--ms2);
    color: $blue;
    transition: color 0.2s;
}

.CaseStudyPreview-description {
  opacity: 0.8;
  padding-bottom: var(--ms2);
}

.CaseStudyPreview-image {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100%;

  &::after {
    background: $white;
    content: '';
    height: 100%;
    mix-blend-mode: soft-light;
    opacity: 0.2;
    position: absolute;
    right: 0;
    top: 0;
    transition: opacity 0.2s;
    width: 100%;
    z-index: 1;
  }
  
  &::before {
    content: '';
    display: block;
    padding-top: 60%;
  }
}

.CaseStudyPreview-imageWrap {
  height: 100%;
  overflow: hidden;
  position: relative;
  width: 100%;
 
  .CaseStudyPreview.is-alignedRight & {
    @include respond-to(md) {
      order: -1;
    }
  }

  @include respond-to(md) {
    width: 60%;

    &::before {
      content: initial;
    }
  }

  &::before {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    transform: translateX(-50%);
    width: 100%;
    height: 100%;
    background-color: aliceblue;
    z-index: 2;
    transition: transform 0s;
    content: '';

    .CaseStudyPreview.is-visible & {
      transition: transform 1s $ease-reveal;
      transform: translateX(100%);
    }
  }

  &::after {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    transform: translateX(0);
    width: 100%;
    height: 100%;
    background-color: $white;
    z-index: 2;
    transition: transform 0s;
    content: '';

    .CaseStudyPreview.is-visible & {
      transition: transform 1s $ease-reveal;
      transform: translateX(100%);
    }
  }
}
