@import '../../vars.scss';

.Seller {
  display: flex;
}

.Seller-content {
  padding: 3rem 0;
  position: relative;
  background: $white;
  &::after {
    content: '';
    width: 3rem;
    background: $white;
    transform: translateX(100%);
    position: absolute;
    right: 0;
    top: 0;
    height: 100%;
    z-index: -1;
  }
}

.Seller-wrap {
  margin-top: 2rem;
  position: relative;
  z-index: 1;
  flex: 0;
}

.Seller-title {
  font-size: 4rem;
  margin-bottom: 1.25rem;
  line-height: 1.15;
  color: #111;
  font-weight: 500;
}

.Seller-copy {
  font-size: 1.25rem;
  color: rgba($dark, 0.75);
  line-height: 1.5;
}

.Seller-image {
  flex: 1;
  height: 29rem;
  background-size: cover;
}
