@import '../../utils/vars';

.CaseStudyHero {
  display: flex;
  margin-bottom: $ms5;
  position: relative;
  z-index: 1;
}

.CaseStudyHero-imageWrapper {
  margin-top: -2rem; // TODO: Why do I need to make up for parallax space?

  height: 80vh;
  min-height: 750px;
  overflow: hidden;
  position: relative;
  width: 100%;
}

.CaseStudyHero-contentBackground {
  align-items: center;
  background: rgba($blue, 0.95);
  display: flex;
  height: 100%;
  left: 0;
  opacity: calc(var(--parallax) - 0.5);
  position: absolute;
  top: 0;
  width: 100%;
  z-index: -1;
}

.CaseStudyHero-content {
  color: $white;
  margin-top: -4rem;
  padding: 0 10%;
}

.CaseStudyHero-image {
  align-items: center;
  background-position: center;
  background-size: cover;
  display: flex;
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  transform: translateY(calc(var(--parallax) * 50px));
  width: 100%;
}
