@import '../../utils/vars';

.CaseStudyHero {
  display: flex;
  margin-bottom: $ms5;
  position: relative;
  z-index: 1;
  align-items: center;
  background-position: center;
  background-size: cover;
  height: 75vh;
  width: 100%;
  &::before {
    content: '';
    padding-top: 75%;
  }
}

.CaseStudyHero-content {
  color: $white;
  margin-top: -4rem;
  padding: 0 10%;
}
