@import '../../utils/vars';

.CaseStudyHero {
  display: flex;
  position: relative;
  z-index: 1;
  margin-bottom: $ms5;
}

.CaseStudyHero-imageWrapper {
  overflow: hidden;
  flex: 1;
}

.CaseStudyHero-imageMask {
}

.CaseStudyHero-contentBackground {
  background: rgba($blue, 0.7);
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
}

.CaseStudyHero-content {
  padding: 0 10%;
  color: $white;
  margin-top: -4rem;
}

.CaseStudyHero-image {
  background-size: cover;
  background-position: center;
  height: 600px;
  width: 100%;
  transform: translateY(calc(var(--parallax) * 50px));
}
