@import '../../../utils/vars';

.CSScreenshot {
  //padding: $ms4 0;
}

.CSScreenshot-image {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top center;

  &::before {
    content: '';
    display: block;
    padding-top: 50%;
  }
}

.CSScreenshot-caption {
  text-align: center;
  color: rgba($copy, 0.85);
}

$duration: 0.8s;
$ease: cubic-bezier(.31, .97, .93, 1);
.Curtain {
  position: relative;
  overflow: hidden;
  &::before,
  &::after {
    content: '';
    width: 100%;
    height: 100%;
    background: #f9d336;
    position: absolute;
    left: 0;
    top: 0;
    transform: translateX(-100%);
    transform-origin: right;
    transition: transform $duration $ease;
  }
  &::after {
    transition-duration: #{$duration * 1.1};
    transform: translateX(-300%);
    background: $blue;
  }

  &.is-visible {
    &::before {
      transform: translateX(100%);
    }
    &::after {
      transform: translateX(100%);
    }
  }
}

.Curtain-initial {
  position: absolute;
  width: 100%;
  height: 100%;
  background: white;
  left: 0;
  top: 0;
  transform: translateX(0);
  transform-origin: right;
  transition: transform $duration $ease;

  .Curtain.is-visible & {
    transform: translateX(100%);
  }
}
