@import '../../../utils/vars';

.Screenshot {
  padding: $ms4 0;
  opacity: 0;
  transform: translateY(2rem);
  transition: all 0.5s ease-out;

  &.is-visible {
    opacity: 1;
    transform: translateY(0);
  }
}

.Screenshot-image {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top center;

  &::before {
    content: '';
    display: block;
    padding-top: 50%;
  }
}

.Screenshot-caption {
  text-align: center;
  color: rgba($copy, 0.85);
}
