@import '../../utils/functions';
@import '../../utils/vars';
@import '../../utils/responsive';

.Button {
  background: transparent;
  border: 1px solid $dark;
  cursor: pointer;
  display: block;
  font-size: var(--ms0);
  color: $dark;
  font-weight: 500;
  letter-spacing: 0.025rem;
  line-height: 1;
  transition: background-color 0.1s ease-out;
  padding: var(--ms0) var(--ms2);
  & + & {
    margin-left: var(--ms1);
  }
  &:focus,
  &:active {
    outline: none;
    background: $light;
  }
    
  &--light {
    color: $white;
    border-color: $white;
  }
  
  @include respond-to(md) {
    display: inline-block;
    &:hover {
      background: $light;
    }  
  }
}
