@import '../../utils/functions';
@import '../../utils/vars';
@import '../../utils/responsive';

.Button {
  background: transparent;
  border: 1px solid $dark;
  cursor: pointer;
  display: block;
  font-size: $ms0;
  color: $dark;
  font-weight: 500;
  letter-spacing: 0.025rem;
  line-height: 1;
  transition: background-color 0.1s ease-out;
  padding: $ms0 $ms2;
  & + & {
    margin-left: $ms1;
  }
  &:focus,
  &:active {
    outline: none;
    background: $light;
  }
    
  &--light {
    color: $white;
    border-color: $white;
  }
  
  @include respond-to(md) {
    display: inline-block;
    &:hover {
      background: $light;
    }  
  }
}
