@import '../../utils/vars';
@import '../../utils/functions';
@import '../../utils/responsive';

.SectionHero {
  align-items: center;
  display: flex;
  flex-direction: column;
  opacity: 0;
  position: relative;
  transform: translateY($ms2);
  transition: all 0.5s ease-out;
  z-index: $z-level-1;

  &.is-visible {
    transform: translateY(0);
    opacity: 1;
  }
  
  @include respond-to(md) {
    // margin: $ms3 0;
  }
}

.SectionHero-imageWrap {
  overflow: hidden;
  position: relative;
  width: 100%;

  &::before {
    content: '';
    display: block;
    padding-top: 85%;
    
    @include respond-to(md) {
      padding-top: 64%;
    }
  }
}

.SectionHero-image {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  flex: 1;
  background-position: center;
  background-size: cover;
  transform: scale(1.2) translateY(calc(var(--parallax) * 2rem));
}

.SectionHero-caption {
  margin-top: 1rem;
}
