@import '../../utils/vars';

.SectionHero {
  display: flex;
  margin: $ms3 0;
  position: relative;
  z-index: 1;
}

// Todo, make Parallax component handle these styles.

.SectionHero-imageWrapper {
  overflow: hidden;
}

.SectionHero-image {
  flex: 1;
  background-position: center;
  background-size: cover;
  height: 750px;
  // transform: translateY(calc(var(--parallax) * 50px)) scale(1.2);
}
