@import '../../../utils/functions';
@import '../../../utils/vars';
@import '../../../utils/responsive';

.ContentSectionCopy {
}
.ContentSectionCopy-lede {
  @include respond-to(md) {
    max-width: 50%;
  }

  .t-body1 {
    opacity: 0.8;
  }
}
.ContentSectionCopy-half {
  @include respond-to(lg) {
    max-width: 40%;
    padding-left: 10%;
  }
}
