@import '../../../utils/functions';
@import '../../../utils/vars';
@import '../../../utils/responsive';

.ContentSectionCopy {
  margin: $ms2 0;

  @include respond-to(md) {
    max-width: 60%;
  }
}

.ContentSectionCopy--alignCenter {
  margin: $ms2 auto;
}
