@import '../../utils/vars.scss';
@import '../../utils/functions.scss';

.NextUp {
  display: flex;
  justify-content: flex-end;
  padding: var(--ms3) 0;
  position: relative;
  width: 100%;
}

.NextUp-content {
  background: $light;
  padding: var(--ms0);
  width: calc(33% - #{var(--ms0)});
}

.NextUp-contentHeading {
  flex: 0 1 100%;
  font-family: 'FFDIN';
  font-size: var(--ms0);
  margin-bottom: 1em;
  font-weight: 600;
  letter-spacing: 0.1rem;
  text-transform: uppercase;
}
.NextUp-page {
  align-items: center;
  display: flex;
  font-size: var(--ms2);
  line-height: 1;
  position: relative;
  text-decoration: none;
  color: $dark;
}
