@import '../../utils/vars.scss';

.Menu {
  display: flex;
  justify-content: space-between;
  width: 460px;
  position: absolute;
  top: $ms3;
  right: $ms3;
}

.Menu-item {
  color: $white;
  font-size: $ms0;
  font-family: 'FFDIN';
  font-weight: 600;
  text-transform: uppercase;
  text-decoration: none;
  letter-spacing: 0.045em;
  &.is-active {
    box-shadow: 0 2px 0 $white;
  }
}
