@import '../../utils/vars.scss';

.Menu {
}

.Menu-toggle {
  background: $dark;
  height: 4px;
  position: absolute;
  right: 0;
  top: $ms4;
  width: 2rem;
  z-index: 3;
  &::before {
    content: 'Menu';
    font-family: 'FFDIN';
    text-transform: uppercase;
    font-weight: 600;
    display: block;
    position: absolute;
    color: $dark;
    width: 100%;
    left: -2.5rem;
    bottom: -0.7rem;
  }

  .is-open & {
    &::before {
      content: 'Close';
    }
  }

  .is-inversed & {
    background: $white;
    &::before {
      color: $white;
    }
  }
}

.Menu-overlay {
  align-items: center;
  background: $blue;
  display: flex;
  height: 100vh;
  justify-content: center;
  position: fixed;
  right: 0;
  top: 0;
  transform: translateX(100%);
  transition: transform 0.25s ease-out;
  width: 40vw;
  z-index: 2;

  .is-open & {
    transform: translateX(0);
  }
}

.Menu-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.Menu-item {
  color: $white;
  font-size: $ms2;
  font-weight: 500;
  line-height: 1.5;
  margin: 0;
  text-decoration: none;
}
