@import '../../../utils/vars';

.Video {
  width: 100%;
  padding: var(--ms2);
  background: rgba($barelyWhite, 0.333);
}

.Video-wrapper {
  opacity: 0;
  transform: translateY(var(--ms2));
  transition: all 0.5s ease-out;
  width: 100%;
  will-change: transform, opacity;

  &.is-visible {
    opacity: 1;
    transform: translateY(0);
  }
}

.Video-description {
  text-align: center;
  color: rgba($copy, 0.85);
}
