@import '../../utils/vars';
@import '../../utils/functions';
@import '../../utils/responsive';

// Todo: Throw away or nah

.ScrollIndicator {
  align-items: flex-start;
  bottom: 0;
  display: none;
  height: $ms3;
  justify-content: center;
  left: 0;
  margin: auto;
  overflow: hidden;
  position: absolute;
  right: 0;
  width: $ms3;
  z-index: 2;
  span {
    $duration: 1.9s;
    animation: indicator $duration infinite cubic-bezier(.16, .22, .86, .59) both;
    background-image: url('./arrow.svg');
    background-position: center;
    background-repeat: no-repeat;
    bottom: 0;
    display: block;
    padding-top: 100%;
    position: absolute;
    width: $ms2;
    &:nth-child(2) {
      animation-delay: $duration / 2;
    }
  }

  @include respond-to(md) {
    //display: flex;
  }
}

@keyframes indicator {
  0% {
    transform: translateY(-200%);
  }
  100% {
    transform: translateY(100%);
  }
}
