@import '../../utils/functions';
@import '../../utils/vars';
@import '../../utils/responsive';

.Hero {
  color: $white;
  height: 100%;
  position: relative;
  z-index: 1;

  &.darken {
    &::before {
      content: '';
      background: rgba(0, 0, 0, 0.1);
      height: 100%;
      position: absolute;
      transition: all 0.2s;
      width: 100%;
      z-index: 1;
    }
  }

  &.cover {
    &::after {
      background: $blue;
      content: '';
      height: 100%;
      mix-blend-mode: hard-light;
      opacity: 0.2;
      position: absolute;
      right: 0;
      top: 0;
      transition: all 0.5s ease;
      width: 100%;
      z-index: 1;
    }
  }
}

.Hero-content {
  align-items: flex-start;
  flex-direction: column;
  display: flex;
  height: 100%;
  justify-content: center;
  position: absolute;
  width: 100%;
  z-index: 2;
}

.Hero-text {
  line-height: 1;
  font-size: between(40px, 100px, $sm, $lg);
  transform: translateY(calc((var(--parallax) - 1) * -6rem));
  transition: transform 0.1s ease;
  padding: 1ch;
  font-weight: 500;
  
  @include respond-to(md) {
    max-width: 16ch;
    padding: 0;
  }

  @include respond-to(lg) {
    //temp
    font-size: 6.25rem;
    margin-top: 1ch;
    margin-left: 1ch;
    line-height: 1.1;
  }

  @include respond-to(xlg) {
  }
}
