@import '../../utils/functions';
@import '../../utils/vars';
@import '../../utils/responsive';

.Hero {
  color: $white;
  display: flex;
  height: 100%;
  position: relative;
  z-index: 1;
  align-items: center;
  background-size: cover;
  flex-direction: column;
  justify-content: center;
  width: 100%;

  &.darken {
    &::before {
      content: '';
      background: rgba(0, 0, 0, 0.15);
      height: 100%;
      opacity: 1;
      position: absolute;
      transition: all 0.2s;
      width: 100%;
      z-index: 1;
    }
  }

  &.cover {
    &::after {
      background: $blue;
      content: '';
      height: 100%;
      mix-blend-mode: hard-light;
      opacity: 0.2;
      position: absolute;
      right: 0;
      top: 0;
      transition: all 0.5s ease;
      width: 100%;
      z-index: 1;
    }
  }
}

.Hero-content {
  position: absolute;
  z-index: 2;
  left: 0;
  right: 0;
  padding: 0 10%;
  margin: auto;
}

.Hero-heading {
  line-height: 1;
  margin: auto;
  font-size: between(40px, 90px, $sm, $lg);

  @include respond-to(md) {
    max-width: 900px;
  }

  @include respond-to(lg) {
    font-size: 90px;
  }
}
