@import '../../utils/vars.scss';
@import '../../utils/functions.scss';

.Hero-wrap {
  box-sizing: content-box;
  height: 80vh;
  position: relative;

  &.cover {
    height: 100vh;
    padding-bottom: $ms5;
  }
}

.Hero {
  // animation: Hero-slideIn 0.6s 1.9s ease-out both;
  color: $white;
  display: flex;
  height: 100%;
  position: relative;
  z-index: 1;
  align-items: center;
  background-size: cover;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  &::before {
    content: '';
    background: rgba(0, 0, 0, 0.15);
    height: 100%;
    opacity: 1;
    position: absolute;
    transition: all 0.2s;
    width: 100%;
  }

  &::after {
    background: $blue;
    content: '';
    height: 100%;
    mix-blend-mode: hard-light;
    opacity: 0.2;
    position: absolute;
    right: 0;
    top: 0;
    transition: all 0.5s ease;
    width: 100%;
    z-index: 1;
  }
}

// @keyframes Hero-slideIn {
//   from {
//     transform: translateX(-50%);
//   }
//   to {
//     transform: translateX(0%);
//   }
// }

.Hero-text {
  margin-left: -25%;
  z-index: 2;
  
  .Hero-wrap.cover & {
    padding-top: $ms4;
  }
}
.Hero-textHeading {
  line-height: 1.1;
  max-width: 766px;
  font-size: 5.1rem;
}

.Hero-textLegend {
  cursor: pointer;
  font-size: 1.1em;
  letter-spacing: 1.5px;
  margin-top: -1em;

  &::before {
    background: #54a8ca;
    bottom: -3rem;
    content: '';
    display: block;
    height: 2px;
    left: 0em;
    margin: auto;
    position: absolute;
    top: -2px;
    width: 1em;
  }
}

.Hero-meta {
  align-items: flex-start;
  background: $blue;
  bottom: 0;
  display: flex;
  flex-wrap: wrap;
  font-size: 1.75rem;
  justify-content: center;
  padding: 1rem;
  position: absolute;
  right: 0;
  transform: translateY(50%);
  width: 24rem;
  z-index: 3;
  transition: background-color 0.5s;

  &:hover {
    background-color: lighten($blue, 20%);
  }
}

.Hero-metaDecorator {
  display: inline-block;
  width: 5.5rem;
  height: 2px;
  background: white;
  position: relative;
  margin: auto;
}

.Hero-metaLink {
  margin-top: 1rem;
  letter-spacing: 1px;
  text-transform: uppercase;
  font-family: 'FFDIN';
  font-size: 20px;
  display: flex;
  justify-content: space-between;
  width: 100%;

  .arrow {
    background: url('./arrow.svg') no-repeat center;
    width: 3.5rem;
    transform: translateX(0);
    transition: transform 0.25s ease-out;
  }
}