.Portfolio {
  margin-top: 5rem;
  position: relative;
  z-index: 1;
  display: grid;
  // grid-template-columns: repeat(4, 1fr);
  // padding: 0 13.5%;
  grid-template-columns: 31.75% 36.5% 31.75%;
  grid-template-rows: auto;
}

.Portfolio-item {
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  background-size: cover;
  background-position: center;
  font-size: 4.6rem;
  font-style: italic;
  font-family: serif;
  position: relative;

  &::before {
    content: '';
    display: block;
    padding-top: 70%;
  }

}

.Portfolio-image {
  position: absolute;
  background-size: cover;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;

  .Portfolio.is-visible & {
    transition: transform 0.1s cubic-bezier(.3,.27,.35,.77);
    &:hover {
      transform: scale(1.15) !important;
      transition: transform 0.2s cubic-bezier(.3,.27,.35,.77);
    }
  }
}
