.Portfolio {
  margin-top: 5rem;
  position: relative;
  z-index: 1;
  display: grid;
  // grid-template-columns: repeat(4, 1fr);
  // padding: 0 13.5%;
  grid-template-columns: 31.75% 36.5% 31.75%;
  grid-template-rows: auto;
}

.Portfolio-item {
  display: flex;
  background-size: cover;
  background-position: center;

  &::before {
    content: '';
    display: block;
    padding-top: 70%;
  }
  &:first-child {
    // grid-column: 2;
  }
}
