.Portfolio {
  margin-top: 10rem;
  position: relative;
  z-index: 1;
  display: grid;
  grid-template-columns: 31.75% 36.5% 31.75%;
  grid-template-rows: auto;
}

.Portfolio-itemWrap {
  display: flex;
  overflow: hidden;
  font-style: italic;
  font-family: serif;
  position: relative;
  transform-origin: bottom right;

  .Portfolio.is-visible &:hover {
    .Portfolio-item {
      transform: scale(0.9) !important;
    }
    .Portfolio-image {
      transform: scale(1.1) !important;
    }
  }
}

.Portfolio-item {
  font-size: 4.6rem;
  display: flex;
  position: relative;
  overflow: hidden;
  justify-content: center;
  align-items: center;
  flex: 1;
  .Portfolio.is-visible & {
    transition: transform 0.1s cubic-bezier(.3,.27,.35,.77);
  }

  &::before {
    content: '';
    display: block;
    padding-top: 70%;
  }
}

.Portfolio-image {
  position: absolute;
  background-size: cover;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;

  .Portfolio.is-visible & {
    transition: transform 0.1s cubic-bezier(.3,.27,.35,.77);
  }
}
