@import '../../utils/functions';
@import '../../utils/vars';
@import '../../utils/responsive';

$maxChilds: 8;

.Clients {
  position: relative;
  z-index: 1;

  @include respond-to(md) {
  }
}

.Clients-list {
  display: flex;
  align-items: center;
  flex-wrap: wrap;

  @include respond-to(md) {
    margin: 0 auto;
    max-width: 80%;
  }
}

.Clients-item {
  flex: 0 1 33.333%;
  position: relative;
  opacity: 0;
  transform: translateY(6rem);
  transition: opacity 0.7s ease, transform 1.3s $easeInOutCustom;

  &::before {
    content: '';
    display: block;
    padding-top: 80%;
  }

  @include respond-to(md) {
    flex: 0 1 25%;
  }

  .Clients.is-visible & {
    transform: translateY(0);
    opacity: 1;
    @for $i from 1 through $maxChilds {
      &:nth-child(#{$i}) {
        transition-delay: #{($i - 1) / 25}s;
      }
     }
  }
}

.Clients-image {
  bottom: 0;
  display: block;
  left: 0;
  margin: auto;
  max-width: between(60px, 90px, $sm, $xlg);
  position: absolute;
  right: 0;
  top: 0;
  width: 100%;
}
