@import '../../utils/functions';
@import '../../utils/vars';
@import '../../utils/responsive';

.Clients {
  position: relative;
  z-index: 1;

  @include respond-to(md) {
    // padding: 0 5rem;
  }
}

.Clients-list {
  display: flex;
  align-items: center;
  flex-wrap: wrap;

  @include respond-to(md) {
    margin: 0 auto;
    max-width: 80%;
  }
}

.Clients-heading {
  margin: auto;
  max-width: 12ch;
  text-align: center;
  @include respond-to(md) {
    max-width: initial;
    margin: 0;
  }
}

.Clients-subheading {
  text-align: center;
  line-height: 1.5;
}

.Clients-item {
  flex: 0 1 33.333%;
  position: relative;

  &::before {
    content: '';
    display: block;
    padding-top: 80%;
  }

  @include respond-to(md) {
    flex: 0 1 25%;
  }
}

.Clients-image {
  bottom: 0;
  display: block;
  left: 0;
  margin: auto;
  max-width: between(60px, 90px, $sm, $xlg);
  position: absolute;
  right: 0;
  top: 0;
  width: 100%;
}
