@import '../../utils/functions';
@import '../../utils/vars';
@import '../../utils/responsive';

.Clients {
  position: relative;
  z-index: 1;
  // margin-top: var(--ms6);
  
  @include respond-to(md) {
    padding: 0 5rem;
  }
}

.Clients-list {
  display: flex;
  align-items: center;
  // justify-content: space-between;
  flex-wrap: wrap;
  // margin-bottom: var(--ms2);
  // padding: 0 12.5%;

  @include respond-to(md) {
    margin: 0 auto;
  }
}

.Clients-heading {
  text-align: center;
}

.Clients-subheading {
  text-align: center;
  line-height: 1.5;
}

.Clients-item {
  flex: 0 1 33.333%;
  position: relative;

  &::before {
    content: '';
    display: block;
    padding-top: 80%;
  }

  @include respond-to(md) {
    flex: 0 1 25%;
  }
}

.Clients-image {
  display: block;
  max-width: 6rem;
  width: 100%;
  // filter: grayscale(1);
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  margin: auto;
  @include respond-to(md) {
    &:hover {
      filter: grayscale(0);
    }
  }

}
