.ShadowText {
  color: rgba(#000,0.05);
  font-family: 'Brown Pro';
  font-size: 8rem;
  font-weight: 600;
  left: 1rem;
  position: absolute;
  text-transform: uppercase;
  top: -4rem;
  z-index: -1;
}
