.ShadowText {
  color: rgba(#000,0.0333);
  font-family: 'Brown Pro';
  font-size: 8rem;
  font-weight: 600;
  display: none;
  text-transform: uppercase;
  z-index: -1;
  transform: translateX(calc(var(--parallax) * 7%));
  transition: transform 0.05s ease-out;
}
