@import '../utils/functions';
@import '../utils/vars';

html {
  font-family: 'Averta';
  font-size: between(20px, 18px, 1440px, 375px);
  font-weight: 300;
  line-height: 1.5;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
}

@media (min-width: 1440px) {
  html {
    font-size: 20px;
  }
}

::selection {
  background-color: $blue;
}

.t-h1 {
  font-size: $ms4;
  font-weight: 500;
  line-height: 1.2;
  margin: 0;
}

.t-h2 {
  font-size: $ms3;
  font-weight: 500;
  line-height: 1.2;
  margin: 0;
}

.t-h3 {
  font-size: $ms2;
  font-weight: 500;
  line-height: 1.2;
  margin: 0;
}

.t-body1 {
  font-size: $ms1;
  font-weight: 400;
  margin: 0;
}

.t-body2 {
  font-size: $ms0;
  font-weight: 400;
  margin: 0;
}

.t-light {
  font-weight: 300;
}

.t-medium {
  font-weight: 500;
}

.t-lineheight {
  line-height: 1.45;
}

.t-center {
  text-align: center;
}
