@import '../utils/functions';
@import '../utils/vars';
@import '../utils/responsive';

::selection {
  background-color: $blue;
  color: $white;
}

.t-h1 {
  font-family: $headingFontFamily, serif;
  font-size: var(--ms4);
  font-weight: 600;
  line-height: inherit;
  margin: 0;
}

.t-h2 {
  font-family: $headingFontFamily, serif;
  font-size: var(--ms3);
  font-weight: 600;
  line-height: inherit;
  margin: 0;
}

.t-h3 {
  font-family: $headingFontFamily, serif;
  font-size: var(--ms2);
  font-weight: 600;
  line-height: inherit;
  margin: 0;
}

.t-body1 {
  font-size: var(--ms1);
  font-weight: 400;
  margin: 0;
}

.t-body2 {
  font-size: var(--ms0);
  font-weight: 400;
  margin: 0;
}

.t-light {
  font-weight: 300;
}

.t-black {
  color: $black;
}

.t-medium {
  font-weight: 500;
}

.t-lineheight {
  line-height: 1.45;
}

.t-center {
  text-align: center;
}
