@import '../utils/functions';
@import '../utils/vars';

::selection {
  background-color: $blue;
  color: white;
}

.t-h1 {
  font-family: $headingFontFamily, serif;
  font-size: $ms4;
  font-weight: 600;
  line-height: 1;
  margin: 0;
}

.t-h2 {
  font-family: $headingFontFamily, serif;  
  font-size: $ms3;
  font-weight: 600;
  line-height: 1;
  margin: 0;
}

.t-h3 {
  font-family: $headingFontFamily, serif;  
  font-size: $ms2;
  font-weight: 600;
  line-height: 1;
  margin: 0;
}

.t-body1 {
  font-size: $ms1;
  font-weight: 400;
  margin: 0;
}

.t-body2 {
  font-size: $ms0;
  font-weight: 400;
  margin: 0;
}

.t-light {
  font-weight: 300;
}

.t-black {
  color: $black;
}

.t-medium {
  font-weight: 500;
}

.t-lineheight {
  line-height: 1.45;
}

.t-center {
  text-align: center;
}
