@import '../../utils/functions';
@import '../../utils/vars';
@import '../../utils/responsive';

.Contact {

  input, select, option, textarea {
    background: #fcfcfc;
    border: 1px solid #e7e7e7;
    box-sizing: border-box;
    display: block;
    appearance: none;
    -webkit-appearance: none;
    font: inherit;
    margin: .75rem 0;
    padding: .75rem 1.25rem;
    transition: border .2s;
    width: 100%;
    &:disabled {
      color: inherit;
    }
  }

  textarea {
    min-height: 15rem;
    min-width: 100%;
    font-size: 1rem;
  }

  select {
    text-transform: capitalize;
  }
}

.Contact-group {
  @include respond-to(md) {
    display: flex;
    > .Contact-item {
      flex: 1 1 50%;
      margin: 0.5rem;
      &:first-child {
        margin-left: 0;
      }
      &:last-child {
        margin-right: 0;
      }
    }
  }

  .Contact-item {
    @include respond-to(onlySmall) {
      margin: $ms2 0;
    }
  }

  &.is-unavailable {
    color: #CCC;
    ::placeholder {
      color: #CCC;
    }
  }
}

.Contact-info {
  font-size: $ms2;

  @include respond-to(md) {
    font-size: $ms3;
  }

  strong {
    font-weight: 600;
  }

  &:last-of-type {
    margin-bottom: 2em;
  }
}
