@import '../../vars.scss';

.Frame {
  $size: 10px;

  height: 100%;
  left: 0;
  position: fixed;
  pointer-events: none;
  top: 0;
  width: 100%;
  z-index: 10;
  span {
    background: $blue;
    position: absolute;
    transition: transform 0.15s ease-out;
    &:nth-child(1) {
      height: $size;
      left: 0;
      top: 0;
      width: 100%;
      transform-origin: top left;
      transform: scaleY(0);
      .is-scrolled & {
        transform: scaleY(1);
      }
    }
    &:nth-child(2) {
      right: 0;
      top: 0;
      height: 100%;
      width: $size;
      transform-origin: top right;
      transform: scaleX(0);
      .is-scrolled & {
        transform: scaleX(1);
      }
    }
    &:nth-child(3) {
      bottom: 0;
      left: 0;
      height: $size;
      width: 100%;
      transform-origin: bottom left;
      transform: scaleY(0);
      .is-scrolled & {
        transform: scaleY(1);
      }
    }
    &:nth-child(4) {
      top: 0;
      left: 0;
      height: 100%;
      width: $size;
      transform-origin: top left;
      transform: scaleX(0);
      .is-scrolled & {
        transform: scaleX(1);
      }
    }
  }
}
