@import '../../utils/functions';
@import '../../utils/vars';
@import '../../utils/responsive';

.Picture {
  display: block;
  height: auto;
  width: 100%;
}

.HeroPicture {
  background: #000;
  display: block;
  height: auto;
  overflow: hidden;
  position: relative;
  width: 100%;

  &.cover {
    height: 45vh;

    @include respond-to(md) {
      height: 100vh;
    }
  }
}

.HeroPicture-image,
.HeroPicture-thumbnail {
  $offset: 1.5rem;
  bottom: -#{$offset};
  height: calc(100% + #{$offset});
  left: -#{$offset};
  position: absolute;
  right: -#{$offset};
  top: -#{$offset};
  width: calc(100% + #{$offset});

  .HeroPicture.cover & {
    object-fit: cover;
  }
  .HeroPicture.withParallax & {
    transform: translateY(calc(var(--parallax) * #{$offset}))
  }
}

.HeroPicture-thumbnail {
  filter: blur(10px);
  z-index: -1;
}

.is-loaded > .HeroPicture-thumbnail {
  opacity: 0;
  transition: opacity 0.3s, visibility 0s 0.3s;
  visibility: hidden;
}