@import '../../utils/functions';
@import '../../utils/vars';
@import '../../utils/responsive';

.Picture {
  display: block;
  height: auto;
  width: 100%;
}

.HeroPicture {
  background:$white;
  display: block;
  height: auto;
  overflow: hidden;
  position: relative;
  width: 100%;
  // transform: translateY(50%);
  // transition: transform 1.3s 0.1s cubic-bezier(0.77, 0, 0.175, 1);
  transition: opacity 1s 0.05s ease, transform 1.3s 0.05s $easeInOutQuart;
  opacity: 0;
  transform: translateY(5rem);
  &.is-visible {
    opacity: 1;
    transform: translateY(0);
  }

  @include respond-to(md) {
    min-height: 65vh;
  }
}

.HeroPicture-image,
.HeroPicture-thumbnail {
  $offset: 1.5rem;
  bottom: -#{$offset};
  height: calc(100% + #{$offset});
  left: -#{$offset};
  position: absolute;
  right: -#{$offset};
  top: -#{$offset};
  width: calc(100% + #{$offset});

  .HeroPicture.cover & {
    object-fit: cover;
  }
  .HeroPicture.withParallax & {
    transform: translateY(calc(var(--parallax) * #{$offset}))
  }
}

.HeroPicture-thumbnail {
  filter: blur(10px);
}

.is-loaded > .HeroPicture-thumbnail {
  opacity: 0;
  transition: opacity 0.3s, visibility 0s 0.3s;
  visibility: hidden;
}