@import '../../../utils/functions';
@import '../../../utils/vars';
@import '../../../utils/responsive';

.Floater {
  margin: 0 auto;
  position: relative;
  width: 100%;
  &::after {
    content: '';
    display: block;
    padding-bottom: 83%;
  }

  @include respond-to(md) {
    width: 60%;
  }
}

.Floater-single {
  width: 100%;
  position: absolute;

  // bottom layer
  &:nth-child(1) {
    transform:
    translateX(calc(var(--parallax) * -5rem))
    translateY(5rem)
    translateY(calc(var(--parallax) * -3rem));

    @include respond-to(md) {
      transform:
      translateX(calc(var(--parallax) * -10rem))
      translateY(10rem)
      translateY(calc(var(--parallax) * -6rem));
      }
  }

  // center layer
  &:nth-child(2) {
    transform:
    translateY(2.5rem)
    translateY(calc(var(--parallax) * -2rem));
    @include respond-to(md) {
      transform:
      translateY(5rem)
      translateY(calc(var(--parallax) * -4rem));
      }
  }

  // top layer
  &:nth-child(3) {
    transform:
    translateX(calc(var(--parallax) * 5rem))
    translateY(0rem)
    translateY(calc(var(--parallax) * -1rem));
    @include respond-to(md) {
      transform:
      translateX(calc(var(--parallax) * 10rem))
      translateY(0rem)
      translateY(calc(var(--parallax) * -2rem));
      }
  }
}
