@import '../../utils/functions';
@import '../../utils/vars';
@import '../../utils/responsive';

.Team-copy {
  line-height: 1.666;
  @include respond-to(md) {
    align-items: center;
    display: flex;
    margin: var(--ms5) 0;
  }
}

.Team-copy--centered {
  @include respond-to(md) {
    max-width: 55%;
    margin: 0 auto;
  }

}

.Team-copyPart {
  @include respond-to(md) {
    flex: 0 1 50%;
    margin: 0 auto;
    max-width: 38rem;
  }
}
