@import '../../utils/vars.scss';

.Team-copy {
  display: flex;
  align-items: baseline;
  margin: 5rem 0;
  line-height: 1.666;
}

.Team-copy--centered {
  max-width: 55%;
  margin: auto;
}

.Team-copyPart {
  flex: 0 1 50%;
  margin: auto;
  max-width: 38rem;
}
