.ContentQuote {
  padding-top: 1rem;
}

.ContentQuote-quote {
  font-size: 2rem;
  font-style: italic;
  padding-bottom: 2rem;
  opacity: 0.85;

  &::before {
    content: '“';
    font-family: serif;
    font-size: 12rem;
    position: absolute;
    margin-top: -0.6em;
    margin-left: -0.55em;
    opacity: 0.3;
  }
}

.ContentQuote-quoteAuthor {
  font-size: 0.9rem;
  letter-spacing: 1px;
  text-align: right;
  text-transform: uppercase;
}