@import '../../utils/functions';
@import '../../utils/vars';
@import '../../utils/responsive';

$maxChilds: 5;

.AnimatedText {
  overflow: hidden;
  position: relative;
  display: block;

  &.should-breakOnMobile {
    display: initial;
    @include respond-to(md) {
      display: block;
    }
  }

  @for $i from 1 to $maxChilds {
    &:nth-child(#{$i}) {
      .AnimatedText-part {
        transition-delay: #{($i - 1) / 15}s;
      }
    }
  }
}

.AnimatedText-part {
  display: block;

  .AnimatedText.should-breakOnMobile & {
    display: initial;
    @include respond-to(md) {
      display: block;
    }
  }
  
  &.AnimatedText--appearUpSlow {
    opacity: 0;
    transform: translateY(100%);
    transition: opacity 1s ease, transform 1.3s $easeInOutQuart;

    &.is-visible {
      opacity: 1;
      transform: translateY(0);
    }
  }

  &.AnimatedText--appearUp {
    opacity: 0;
    transform: translateY(100%);
    transition: opacity 0.8s ease, transform 0.8s $easeInOutCustom;

    &.is-visible {
      opacity: 1;
      transform: translateY(0);
    }
  }

  &.AnimatedText--FadeIn {
    opacity: 0;
    &.is-visible {
      opacity: 1;
    }
  }
}
