@import '../functions';
@import '../vars';
@import '../responsive';

// Padding top

.u-paddingTopXLarge {
  padding-top: between(44.875px, 119.665px, $sm, $xlg) !important;
}

.u-paddingTopLarge {
  padding-top: between(25.253px, 67.34px, $sm, $xlg) !important;
}

.u-paddingTopMedium {
  padding-top: between(21.238px, 37.897px, $sm, $xlg) !important;
}

.u-paddingTopSmall {
  padding-top: between(16px, 21.328px, $sm, $xlg) !important;
}

.u-paddingTopXSmall {
  padding-top: between(12px, 16px, $sm, $xlg) !important;
}

// Padding bottom

.u-paddingBottomXLarge {
  padding-bottom: between(44.875px, 119.665px, $sm, $xlg) !important;
}

.u-paddingBottomLarge {
  padding-bottom: between(25.253px, 67.34px, $sm, $xlg) !important;
}

.u-paddingBottomMedium {
  padding-bottom: between(21.238px, 37.897px, $sm, $xlg) !important;
}

.u-paddingBottomSmall {
  padding-bottom: between(16px, 21.328px, $sm, $xlg) !important;
}

.u-paddingBottomXSmall {
  padding-bottom: between(12px, 16px, $sm, $xlg) !important;
}


@include respond-to(xlg) {
  .u-paddingTopXLarge {
    padding-top: 127.888px !important;
  }

  .u-paddingTopLarge {
    padding-top: 90.448px !important;
  }

  .u-paddingTopMedium {
    padding-top: 63.968px !important;
  }

  .u-paddingTopSmall {
    padding-top: 45.2320px !important;
  }

  .u-paddingTopXSmall {
    padding-top: 1rem !important;
  }

  .u-paddingBottomXLarge {
    padding-bottom: 127.888px !important;
  }

  .u-paddingBottomLarge {
    padding-bottom: 90.448px !important;
  }

  .u-paddingBottomMedium {
    padding-bottom: 63.968px !important;
  }

  .u-paddingBottomSmall {
    padding-bottom: 45.2320px !important;
  }

  .u-paddingBottomXSmall {
    padding-bottom: 1rem !important;
  }
}