@import '../functions';
@import '../vars';
@import '../responsive';

.u-paddingTopLarge {
  padding-top: between(40px, 120px, $sm, $lg) !important;
}

.u-paddingTopMedium {
  padding-top: between(40px, 80px, $sm, $lg) !important;
}

.u-paddingTopSmall {
  padding-top: between(20px, 40px, $sm, $lg) !important;
}

.u-paddingTopXSmall {
  padding-top: between(16px, 20px, $sm, $lg) !important;
}

.u-paddingBottomLarge {
  padding-bottom: between(40px, 120px, $sm, $lg) !important;
}

.u-paddingBottomMedium {
  padding-bottom: between(40px, 80px, $sm, $lg) !important;
}

.u-paddingBottomSmall {
  padding-bottom: between(20px, 40px, $sm, $lg) !important;
}

.u-paddingBottomXSmall {
  padding-bottom: between(16px, 20px, $sm, $lg) !important;
}

@include respond-to($lg) {
  .u-paddingTopLarge {
    padding-top: 120px !important;
  }

  .u-paddingTopMedium {
    padding-top: 80px !important;
  }

  .u-paddingTopSmall {
    padding-top: 40px !important;
  }

  .u-paddingTopXSmall {
    padding-top: 1rem !important;
  }

  .u-paddingBottomLarge {
    padding-bottom: 120px !important;
  }

  .u-paddingBottomMedium {
    padding-bottom: 80px !important;
  }

  .u-paddingBottomSmall {
    padding-bottom: 40px !important;
  }

  .u-paddingBottomXSmall {
    padding-bottom: 1rem !important;
  }
}