.Lines {
  pointer-events: none;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: 1;
  display: grid;
  grid-template-columns: 13.5% 18.25% 18.25% 18.25% 18.25% 13.5%;
  span {
    border: none;
    opacity: 0.8;
    background: url(linesprite.png) repeat-y right 0;
    height: 100%;
    position: relative;
  }
}
