@import '../../../utils/functions';
@import '../../../utils/vars';
@import '../../../utils/responsive';

$maxImgs: 3;

.Team-grid {
  z-index: $z-level-1;
  position: relative;
  display: grid;
  grid-gap: $ms1;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  overflow: hidden;
}

.Team-gridImageMask {
  opacity: 0;
  will-change: opacity, transform;
  transform: translateY(10rem) translateZ(1px);
  transition: opacity 0.4s ease, transform 0.5s ease-out;

  @for $i from 1 through $maxImgs {
    &:nth-child(#{$i}) {
      transition-delay: #{($i - 1) / 15}s;
    }
  }

  &.is-visible {
    opacity: 1;
    transform: translateY(0);
  }

  .Team-gridImage {
    &::before {
      padding-top: 67.65%;
    }
  }
  &:first-child {
    grid-row-end: span 2;
    .Team-gridImage {
      &::before {
        padding-top: 135.3%;
      }
    }
  }
}

.Team-gridImage {
  background-origin: content-box;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100%;
  &::before {
    content: '';
    display: block;
    width: 100%;
  }
}
