@import '../../utils/vars';
@import '../../utils/functions';
@import '../../utils/responsive';

.Header {
  position: fixed;
  top: 0;
  padding: $ms2 $ms3;
  z-index: 11;
  align-items: center;
  width: 100%;
  display: flex;
  justify-content: space-between;

  @include respond-to(md) {
    padding: $ms3 $ms6;

    &::after {
      transform: translateY(-2rem);
      transition: all 0.2s;
    }
    &.is-full {
      &::after {
        transform: translateY(0);
        box-shadow: none;
      }
    }
  }
  &::after {
    background: white;
    content: '';
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    opacity: 1;
    width: 100%;
    box-shadow: 0 2px 0 2px rgba(0,0,0,0.025), 0 0px 0 1px rgba(0,0,0,0.05);
  }
}

.Menu {
  @include respond-to(onlySmall) {
    display: flex;
    padding: 2rem;
    flex-direction: column;
    width: 100vw;
    height: 100vh;
    background: $blue;
    top: 0;
    transform: translateX(100%);
    transition: transform 0.5s $easeInOutCustom;
    left: 0;
    position: absolute;
    z-index: 12;
    padding: 10vh 0;

    .Header.mobile-menu-is-open & {
      transform: translateX(0);
    }
  }

  @include respond-to(md) {
    display: flex;
    justify-content: space-between;
    max-width: 23rem;
    width: 100%;
  }
}

.Menu-item {
  font-family: $allCapsFontFamily;
  font-weight: 500;
  text-transform: uppercase;
  text-decoration: none;
  letter-spacing: 0.075em;
  overflow: hidden;
  transition: transform 0.2s ease-out;
  
  @include respond-to(onlySmall) {
    $maxChilds: 3;

    color: $white;
    display: flex;
    align-items: center;
    font-size: 3rem;
    height: 25vh;
    transition: transform 0.5s ease-out;
    justify-content: center;
    transform: translateX(4rem);

    .Header.mobile-menu-is-open & {
      transform: translateX(0);
    }

    @for $i from 1 through $maxChilds {
      &:nth-child(#{$i}) {
        transition-delay: #{$i / 10}s;
      }
    }
  }

  &.is-active {
    font-weight: 700;
    cursor: default;
  }
  @include respond-to(md) {
    font-size: 21px;
    transform: translateY(-1rem);

    .Header.is-full & {
      transform: translateY(0);
    }

    &:hover {
      &:not(.is-active)::after {
        transform: translateX(0) translateY(-70%);
        transition: transform 0.2s $easeInOutCustom;
      }
    }

    &::after {
      content: '';
      display: block;
      background: $light;
      position: absolute;
      bottom: 0;
      width: 100%;
      transform: translateX(calc(-100% - 1px)) translateY(-70%);
      height: 0.5em;
      transition: transform 0.4s $easeInOutCustom;
    }
  }
}

.MenuTrigger {
  display: none;
  padding: 0;
  outline: 0;
  
  > svg {
    overflow: visible;
  }
  @include respond-to(onlySmall) {
    border: 0;
    width: 35px;
    height: 35px;
    background: transparent;
    display: block;
    z-index: 12;
  }

  .MenuTrigger-bar {
    transition: all 0.5s;
    transform-origin: 35px 100%;
    &:nth-child(1) {
      transform: rotateZ(45deg);
    }
    &:nth-child(2) {
      transform-origin: center;
      transform: scaleX(0);
    }
    &:nth-child(3) {
      transform: rotateZ(-45deg);
    }
  }
}

.Header-logo {
  width: between(96px, 128px, $sm, $md);
  > svg {
    display: block;
  }
  @include respond-to(md) {
    transition: transform 0.2s ease-out;
    transform: translateY(-0.5rem);
    width: 8rem;
    .Header.is-full & {
      transform: translateY(0);
    }
  }
}


.Burger-container {
  position: relative;
  display: inline-block;
  transform: rotate(0deg);
  transition: transform 0.3s $easeSmooth;
  user-select: none;
  -webkit-tap-highlight-color: transparent;
  .Header.mobile-menu-is-open & {
    transform: rotate(90deg);
  }
}

.Burger {
  width: 18px;
  height: 8px;
  position: relative;
  top: 50%;
}

.Burger-bar {
  width: 100%;
  height: 1px;
  display: block;
  position: relative;
  background: $dark;
  transition: transform 0.3s $easeSmooth;
  transition-delay: 0s;
  .Header.mobile-menu-is-open & {
    transition: transform 0.4s $easeSmooth;
    transition-delay: 0.2s;
    background: white;
    &.top {
      transform: translateY(4px) rotate(45deg);
    }
    &.bottom {
      transform: translateY(3px) rotate(-45deg);
    }
  }
  &.top {
    transform: translateY(0px) rotate(0deg);
  }
  &.bottom {
    transform: translateY(6px) rotate(0deg);
  }
}
