@import '../../utils/vars';
@import '../../utils/functions';
@import '../../utils/responsive';

.Header {
  padding: var(--ms3);
  width: 100%;
  z-index: 2;
  display: flex;
  justify-content: space-between;
  &.is-fixed {
    position: absolute;
  }
}

.Header-logo {
  // width: 8rem;
  width: between(96px, 128px, $sm, $md);
  @include respond-to(md) {
    width: 8rem;
  }
}

.Menu {
  display: flex;
  justify-content: space-between;
  width: 12rem;
  margin-left: auto;  
}

.Menu-item {
  font-size: var(--ms0);
  font-family: 'FFDIN';
  font-weight: 600;
  text-transform: uppercase;
  text-decoration: none;
  letter-spacing: 0.045em;
  &.is-active {
    box-shadow: 0 2px 0 currentColor;
  }
  .Header.is-inversed & {
    color: $white;
  }
}
