@import '../../utils/vars';
@import '../../utils/functions';
@import '../../utils/responsive';

.Header {
  width: 100%;
  z-index: 1;
  display: flex;
  justify-content: space-between;
  padding: between(25.253px, 67.34px, $sm, $xlg) between(16px, 44.875px, $sm, $xlg);

  @include respond-to(md) {
    padding: var(--ms4) var(--ms6);
  }
}

.Header-logo {
  width: between(96px, 128px, $sm, $md);
  @include respond-to(md) {
    width: 8rem;
  }
}

.Menu {
  display: flex;
  justify-content: space-between;
  max-width: between(140px, 240px, $sm, $md);
  width: 100%;

  @include respond-to(md) {
    max-width: 15rem;
  }
}

.Menu-item {
  font-size: between(14px, 18px, $sm, $lg);
  font-family: 'mono45-headline';
  text-transform: uppercase;
  text-decoration: none;
  letter-spacing: 0.075em;

  @include respond-to(md) {
    font-size: 18px;
    &:hover {
      color: $blue;
    }
  }

  &.is-active {
    box-shadow: 0 2px 0 currentColor;
  }
  .Header.is-inversed & {
    color: $white;
  }
}
