.u-bold {
  font-weight: 600;
}

.u-mask {
  overflow: hidden;
  display: block;
}

.u-maskInner {
  display: block;
}

.u-flex {
  display: flex;
}

.u-flexAlignCenter {
  align-items: center;
}

.u-flexJustifyCenter {
  justify-content: center;
}

.u-lineDecorator {
  display: block;
  width: 1.25rem;
  height: 2px;
  background: $blue;
}

.u-textIndent1 {
  text-indent: 1rem;
}
