$sm: 375px;
$md: 768px;
$lg: 1024px;
$xlg: 1440px;

$horizontalPadding: 6.25rem;

$black: #292d3c;
$blue: #0067b7;
$darkBlue: #1a3187;
$light: #e3f1ff;
$white: #ffffff;
$barelyWhite: #f1f1f1;
$red: #eb3659;
$dark: #3c435f;
$copy: #6f7489;

$bodyPadding: 20px;

$bodyFontFamily: 'proxima-nova';
$headingFontFamily: 'proxima-nova';
$monospaceFontFamily: 'mono45-headline';
$monospace: $monospaceFontFamily;

$ease-reveal: cubic-bezier(.47,.04,.09,.98);