@import './functions.scss';

$sm: 375px;
$md: 768px;
$lg: 1024px;
$xlg: 1440px;

// modularscale = base: 16px/1rem, ratio: 1.333
// Experimenting with not capping the values at $xlg with a media query.

$ms0: between(9px, 16px, $sm, $xlg);
$ms1: between(12px, 21.328px, $sm, $xlg);
$ms2: between(16px, 28.43px, $sm, $xlg);
$ms3: between(21.328px, 37.897px, $sm, $xlg);
$ms4: between(28.43px, 50.517px, $sm, $xlg);
$ms5: between(37.897px, 67.34px, $sm, $xlg);
$ms6: between(50.517px, 89.764px, $sm, $xlg);
$ms7: between(67.34px, 119.665px, $sm, $xlg);

$horizontalPadding: $ms6;

$black: #292d3c;
$blue: #006ad4;
$darkBlue: #1a3187;
$light:rgba(0, 106, 212, 0.30);
$white: #ffffff;
$barelyWhite: #f1f1f1;
$red: #eb3659;
$dark: #3c435f;
$copy: #6f7489;
$bodyPadding: 20px;

$bodyFontFamily: 'proxima-nova';
$headingFontFamily: 'proxima-nova';
$allCapsFontFamily: 'rift-soft';

$ease-pageEnter: ease-in-out; //cubic-bezier(0.215, 0.610, 0.355, 1.000);
$easeInOutQuart: cubic-bezier(0.77, 0, 0.175, 1);
$easeInOutCustom: cubic-bezier(0.5,0.11,0.17,1);
$easeOutCirc: cubic-bezier(0.075, 0.82, 0.165, 1);
$easeInQuart: cubic-bezier(0.895, 0.03, 0.685, 0.22);
$easeOutQuart: cubic-bezier(0.165, 0.84, 0.44, 1);
$easeSmooth: cubic-bezier(0.4, 0.01, 0.165, 0.99);
