$sm: 375px;
$md: 768px;
$lg: 1024px;
$xlg: 1440px;

$black: #292d3c;
$blue: #006ad4;
$darkBlue: #1a3187;
$light: #e3f1ff;
$white: #ffffff;
$red: #eb3659;
$dark: #3c435f;
$copy: #6f7489;
$bodyPadding: 20px;

// modularscale = base: 1rem, ratio: 1.414
$ms0: 1rem;
$ms1: 1.414rem;
$ms2: 1.999rem;
$ms3: 2.827rem;
$ms4: 3.998rem;
$ms5: 5.653rem;
$ms6: 7.993rem;
$ms7: 11.302rem;
