@import '../../../utils/vars.scss';
@import '../../../utils/responsive.scss';

.DeviceSection {
  display: flex;
}

.DeviceSection-copy {
  flex: 0 1 65%;
  padding-right: 10%;
}

.DeviceSection-device {
  display: none;
  position: relative;
  flex: 0 1 35%;
  max-width: 20rem;
  transform: translateY(#{calc(-100% - 8rem)}) translateY(calc(var(--parallax) * #{calc(100% + 8rem)}));

  @include respond-to(md) {
    display: block;
  }
}

.Device {
  position: relative;
  overflow: hidden;
}

.Device-img {
  position: absolute;
  width: 100%;
  top: 0;
  transform: translateY(calc(var(--parallax) * #{calc(-100% - 8rem) * #{0.4}}));
}
