@import '../../../utils/vars.scss';
@import '../../../utils/responsive.scss';

.DeviceSection {
  display: flex;
  align-items: center;
}

.DeviceSection-copy {
  flex: 0 1 65%;
  padding-right: 25%;
}

.DeviceSection-device {
  display: none;
  position: relative;
  flex: 0 1 35%;
  max-width: 20rem;

  @include respond-to(md) {
    display: block;
  }
}

.Device {
  position: relative;
  overflow: hidden;
}

.Device-img {
  position: absolute;
  width: 100%;
  top: 0;
  transform: translateY(calc(var(--parallax) * -35rem));
}
