@import '../../../utils/vars.scss';
@import '../../../utils/functions.scss';

$introDuration: 0.6s;
$outroDelay: $introDuration * 2;
$outroDuration: 0.4s;

.HeroOverlay {
  position: absolute;
  width: calc(100% - #{$ms2});
  height: 100%;
  background: white;
  z-index: 2;
  transform: translateX(0);
  display: flex;
  justify-content: center;
  align-items: center;
  transform-origin: right;
  animation: HeroOverlay-leave 0.5s 1.8s cubic-bezier(0.55, .055, .675, .19) both;
}

@keyframes HeroOverlay-leave {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(100%);
  }
}

.HeroOverlay-text {
  font-size: $ms5;
  font-weight: 600;
}
