@import '../../utils/functions';
@import '../../utils/vars';
@import '../../utils/responsive';

.Section {
  margin: 0;
  position: relative;
  z-index: 1;
  padding: 0 between(16px, 100px, $sm, $xlg);

  &.no-padding {
    padding: 0;
  }

  @include respond-to(xlg) {
    padding: 0 $horizontalPadding;

    &.no-padding {
      padding: 0;
    }
  }
}
