@import '../../../utils/vars';

.CSCTA {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1;
  background: $blue;
  height: 10rem;
  margin-top: 5rem;
}

.CSCTA-text {
  color: $white;
}
