@import '../../utils/functions';
@import '../../utils/vars';
@import '../../utils/responsive';

.Intro {
  padding-top: 5rem;
  padding-bottom: 2rem;
  @include respond-to(md) {
    display: flex;
    padding: 10rem between(16px, 100px, $sm, $xlg) 0 between(16px, 100px, $sm, $xlg);
    flex-wrap: nowrap;
  }
  @include respond-to(xlg) {
    padding: 10rem $horizontalPadding 0 $horizontalPadding;
  }
}

.Intro-split {
  align-items: flex-end;
  display: flex;
  flex: 0 1 50%;
  padding: 0 1rem;

  &:first-child {
    flex: 1 0 auto;
    @include respond-to(md) {
      margin-right: var(--ms3);
    }
    @include respond-to(xlg) {
      margin-right: 0;
    }
  }

  @include respond-to(md) {
    align-items: flex-end;
    width: 50%; 
    .Intro.main & {
      width: 100%;
    }
  }

  > h1 {
    line-height: 1.15;
  }
}
