@import '../../utils/functions';
@import '../../utils/vars';
@import '../../utils/responsive';

.Intro {
  display: flex;
  flex-wrap: wrap;

  @include respond-to(md) {
    flex-wrap: nowrap;
    padding: 0;
  }
  @include respond-to(lg) {
    width: 85%;
    padding: 15rem 0 0rem 0;
    margin: auto;
  }
}

.Intro-split {
  display: flex;

  @include respond-to(md) {
    align-items: flex-end;
    width: 50%; 
  }

  > h1 {
    line-height: 1;
  }

  .Intro-main {
    line-height: 1.15;
  }
}
