@import '../../utils/functions';
@import '../../utils/vars';
@import '../../utils/responsive';

.Footer {
  bottom: 0;
  left: 0;
  margin: auto;
  position: fixed;
  right: 0;
  width: 100%;
  z-index: -1;
  background: rgba(1, 1, 25, 0.8); //temp
}

.Footer-inner {
  align-items: center;
  color: $white;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  background: $blue;
  padding: 5%;
  text-align: center;
  opacity: var(--footer);

  @include respond-to(md) {
    align-items: baseline;
    text-align: left;
  }
  @include respond-to(xlg) {
    padding-left: $horizontalPadding;
    padding-right: $horizontalPadding;
  }
}

.Footer-legend {
  font-size: 0.75rem;
  letter-spacing: 0.1rem;
  opacity: 0.5;
  padding-bottom: var(--ms0);
  text-transform: uppercase;
}

.Footer-title {
  flex: 0 1 100%;
}

.Footer-column {
  flex: 1 0 auto;

  @include respond-to(md) {
    flex: 0 1 33.333%;
  }
}

.Footer-social {
  align-items: center;
  display: flex;
  justify-content: center;

  @include respond-to(md) {
    justify-content: flex-start;
  }
}

.Footer-socialIcon {
  img {
    width: var(--ms0);
  }
  & + & {
    margin-left: var(--ms0);
  }
}
