@import '../../utils/vars.scss';
@import '../../utils/functions.scss';

.Footer {
  align-items: baseline;
  background: $blue;
  bottom: 0;
  color: $white;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  min-height: 20rem;
  position: fixed;
  width: 100%;
  z-index: -1;
}

.Footer-legend {
  text-transform: uppercase;
  font-size: 0.75rem;
  opacity: 0.5;
  letter-spacing: 0.1rem;
  padding-bottom: $ms0;
}

.Footer-title {
  flex: 0 1 100%;
}

.Footer-column {
  flex: 0 1 33.333%;
}

.Footer-social {
  display: flex;
  align-items: center;
}

.Footer-socialIcon {
  img {
    width: $ms0;
  }
  & + & {
    margin-left: $ms0;
  }
}
