@import '../../utils/functions';
@import '../../utils/vars';
@import '../../utils/responsive';

.Footer {
  padding: 40px 0;
  overflow: hidden;
  background: $blue;
  color: $white;

  @include respond-to(md) {
  }
}

.Footer-inner {
  height: 100%;
  opacity: var(--footer);
  align-items: center;
  display: flex;
  justify-content: center;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  width: 100%;
  padding: 0 3rem;
  transform: translateZ(1px) translateY(-4rem) translateY(calc(var(--footer) * 4rem));

  @include respond-to(md) {
    align-items: baseline;
    text-align: left;
    padding-left: $horizontalPadding;
    padding-right: $horizontalPadding;
  }
}

.Footer-legend {
  font-size: 0.75rem;
  letter-spacing: 0.1rem;
  opacity: 0.5;
  padding-bottom: $ms0;
  text-transform: uppercase;
}

.Footer-title {
  flex: 0 1 100%;
  margin-bottom: $ms3;
}

.Footer-column {
  flex: 1 0 auto;

  @include respond-to(md) {
    flex: 0 1 33.333%;
  }
}

.Footer-social {
  align-items: center;
  display: flex;
  justify-content: flex-start;
}

.Footer-socialIcon {
  img {
    width: $ms0;
  }
  & + & {
    margin-left: $ms0;
  }
}
