@import '../../../utils/vars';

.Image {
  opacity: 0;
  transform: translateY(var(--ms2));
  transition: all 0.5s ease-out;
  padding: var(--ms2);
  margin: 0 var(--ms4);
  background: $barelyWhite;

  &.is-visible {
    opacity: 1;
    transform: translateY(0);
  }

  .ContentSection--gray & {
    background: $white;
  }
}

.Image-image {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top center;

  &::before {
    content: '';
    display: block;
    padding-top: 50%;
  }
}

.Image-caption {
  text-align: center;
  color: rgba($copy, 0.85);
}
