@import '../../utils/vars.scss';
@import '../../utils/responsive.scss';
@import '../../utils/functions.scss';

.Page {
  background: $white;
  margin: auto;
  overflow: hidden;
  width: 100%;
  top: 0;
  position: relative;
  left: 0;
  display: none;
  margin-bottom: between(200px, 300px, $sm, $md); //Footer min-height
  z-index: 2;
  transition: opacity 0.5s;
  @include respond-to(md) {
    margin-bottom: 19rem;
  }
}

.Revealer {
  width: 100vw;
  height: 100vh;
  position: fixed;
  z-index: 1000;
  pointer-events: none;
  transform: translate3d(-50%,-50%,0) translate3d(-100%,0,0);
}

.Revealer-layer {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 50%;
  left: 50%;
  background: #ddd;
  &:nth-child(1) {
    background: lighten(#006ad4, 10%);
    .Revealer.is-active & {
      animation: anim-effect-2-1 1.1s $easeInOutCustom forwards;
    }
  }
  &:nth-child(2) {
    background: #006ad4;
    .Revealer.is-active & {
      animation: anim-effect-2-2 1.1s $easeInOutCustom forwards;
    }
  }
}

@keyframes anim-effect-2-1 {
	0% {
		transform: translate3d(0, 0, 0);
	}
	30%,
	70% {
		transform: translate3d(100%, 0, 0);
		animation-timing-function: cubic-bezier(0.7, 0, 0.3, 1);
	}
	100% {
		transform: translate3d(200%, 0, 0);
	}
}

@keyframes anim-effect-2-2 {
	0%,
	14.5% {
		transform: translate3d(0, 0, 0);
	}
	37.5%,
	62.5% {
		transform: translate3d(100%, 0, 0);
		animation-timing-function: cubic-bezier(0.7, 0, 0.3, 1);
	}
	85.5%,
	100% {
		transform: translate3d(200%, 0, 0);
	}
}