@import '../../utils/vars.scss';
@import '../../utils/responsive.scss';
@import '../../utils/functions.scss';

.Page {
  background: $white;
  margin: auto;
  overflow: hidden;
  width: 100%;
  top: 0;
  position: relative;
  left: 0;
  display: none;
  margin-bottom: between(200px, 300px, $sm, $md); //Footer min-height
  z-index: 2;
  transition: opacity 0.5s;
  @include respond-to(md) {
    margin-bottom: 19rem;
  }
}

.Revealer {
  width: 100vw;
  height: 100vh;
  position: fixed;
  z-index: 1000;
  pointer-events: none;
  transform: translate3d(-50%, -50%, 0) translate3d(-100%, 0, 0);
}

.Revealer-layer {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 50%;
  left: 50%;
  background: #ddd;
  animation-duration: 1.1s;
  animation-name: initial;
  animation-timing-function: $easeInOutCustom;
  animation-play-state: forwards;

  &:nth-child(1) {
    background: lighten(#006ad4, 10%);
    .Revealer.is-active & {
      animation-name: anim-effect-2-1;
    }
  }
  &:nth-child(2) {
    background: #006ad4;
    .Revealer.is-active & {
      animation-name: anim-effect-2-2;
    }
  }
}

@keyframes anim-effect-2-1 {
  0% {
    transform: translate3d(0, 0, 0);
  }
  30% {
    transform: translate3d(100%, 0, 0);
    animation-timing-function: $easeInOutCustom;
  }
  100% {
    transform: translate3d(200%, 0, 0);
  }
}

@keyframes anim-effect-2-2 {
  0% {
    transform: translate3d(0, 0, 0);
  }
  60% {
    transform: translate3d(100%, 0, 0);
    animation-timing-function: $easeInOutCustom;
  }
  100% {
    transform: translate3d(200%, 0, 0);
  }
}
