@import '../../utils/functions';
@import '../../utils/vars';
@import '../../utils/responsive';

.CaseStudyGrid {
  position: relative;
  z-index: 1;

  @include respond-to(md) {
    &.withPadding {
      padding: 2rem;
    }
  }
}

.CaseStudyGrid-items {
  display: grid;
  grid-gap: 0.5rem;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
}

.CaseStudyGrid-item {
  cursor: pointer;
  display: flex;
  flex: 0 1 50%;
  justify-content: center;
  overflow: hidden;
  position: relative;
  transform-origin: bottom right;

  &:nth-child(2),
  &:nth-child(4) {
    grid-row-end: span 2;
  }
}

.CaseStudyGrid-itemInner {
  align-items: center;
  display: flex;
  flex: 1;
  justify-content: center;
  overflow: hidden;
  position: relative;
  opacity: 0;
  transform: translateY(6rem) translateZ(1px);
  transition: opacity 0.4s ease, transform 0.4s ease-out;
  will-change: opacity, transform;

  &.is-visible {
    opacity: 1;
    transform: translateY(0);
  }

  &::before {
    content: '';
    display: block;
    padding-top: 60%;
  }
}

.CaseStudyGrid-image {
  background-size: cover;
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
}

.CaseStudyGrid-info {
  z-index: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  color: $white;
  transform: translateY(calc(100% + 1rem));
  transition: transform 0.25s, opacity 0.1s;
  opacity: 0;
  .CaseStudyGrid-item:hover & {
    transform: translateY(0);
    opacity: 1;
  }
}

.CaseStudyGrid-button {
  text-align: center;
  width: 90%;
  margin: 0 auto;

  @include respond-to(md) {
    margin: 0;
    padding: var(--ms3);
    width: auto;
  }
}