@import '../../utils/functions';
@import '../../utils/vars';
@import '../../utils/responsive';

.CaseStudyGrid {
  padding: var(--ms0);
  padding-top: 0;
  position: relative;
  z-index: 1;
  
  @include respond-to(md) {
    padding: 0;
  }

}

.CaseStudyGrid-items {
  display: flex;
  flex-wrap: wrap;
  padding-bottom: var(--ms1);
}

.CaseStudyGrid-heading {
  text-align: center;
}

.CaseStudyGrid-subheading {
  line-height: 1.5;
  text-align: center;
}

.CaseStudyGrid-itemWrap {
  display: flex;
  flex: 1;
  font-family: serif;
  font-style: italic;
  justify-content: center;
  overflow: hidden;
  position: relative;
  transform-origin: bottom right;
  cursor: pointer;

  @include respond-to(md) {
    padding: var(--ms1);
  }

  .CaseStudyGrid.is-visible &:hover {
    .CaseStudyGrid-item {
      transform: scale(0.9) !important;
      &::before {
        opacity: 1;
      }
    }
    .CaseStudyGrid-image {
      transform: scale(1.1) !important;
    }
    .CaseStudyGrid-caption {
      opacity: 1;
      transform: translateY(-50%);
    }
  }

}

.CaseStudyGrid-item {
  align-items: center;
  display: flex;
  flex: 1;
  justify-content: center;
  overflow: hidden;
  position: relative;

  .CaseStudyGrid.is-visible & {
    transition: transform 0.2s cubic-bezier(.3, .27, .35, .77);
  }

  &::before {
    content: '';
    background: rgba(0, 0, 0, 0.4);
    opacity: 0;
    transition: opacity 0.2s ease-out;
    display: block;
    padding-top: 70%;
    width: 100%;
    z-index: 1;
  }
}

.CaseStudyGrid-caption {
  color: $white;
  font-size: var(--ms3);
  opacity: 0;
  position: absolute;
  text-align: center;
  top: 50%;
  transform: translateY(-100%);
  transition: all 0.1s ease-in-out;
  z-index: 1;
}

.CaseStudyGrid-image {
  background-position: center;
  background-size: cover;
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;

  .CaseStudyGrid.is-visible & {
    transition: transform 0.2s cubic-bezier(.3, .27, .35, .77);
  }
}

.CaseStudyGrid-button {
  text-align: center;
  width: 90%;
  margin: 0 auto;

  @include respond-to(md) {
    margin: 0;
    padding-bottom: var(--ms3);
    width: auto;
  }
}