@import '../../utils/functions';
@import '../../utils/vars';
@import '../../utils/responsive';

$offset: 6rem;

.Family {
  position: relative;
  z-index: 1;
}

.Family-grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 2rem;
  margin-top: $offset;
  margin-bottom: $offset;
  transform: translateZ(1px);
}

.Family-heading {
  margin: auto;
  max-width: 12ch;
  text-align: center;
  @include respond-to(md) {
    max-width: initial;
    margin: 0;
  }
}

.Family-subheading {
  text-align: center;
  line-height: 1.5;
}

.Family-item {
  position: relative;
  overflow: hidden;
  will-change: transform;
  transition: transform 0.4s $easeOutCirc;
  &::before {
    content: '';
    display: block;
    padding-top: 133%;
  }
  &:nth-child(3n + 1) {
    top: -#{$offset};
    transform: translateY(calc(var(--parallax) * #{$offset}));
  }
  &:nth-child(3n + 2) {
    top: -#{$offset};
    transform: translateY(calc(var(--parallax) * #{$offset/1.333}));
  }
  &:nth-child(3n + 3) {
    top: -#{$offset};
    transform: translateY(calc(var(--parallax) * #{$offset}));
  }
}

.Family-image {
  background-size: cover;
  bottom: 0;
  display: block;
  left: 0;
  margin: auto;
  position: absolute;
  right: 0;
  top: 0;
  width: 100%;

  &::before {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    transform: translateY(100%);
    width: 100%;
    height: 100%;
    background-color: $light;
    z-index: 2;
    content: '';

    .Family.is-visible & {
      transition: transform 0.85s $easeOutCirc;
      transform: translateY(-100%);
    }

  }

  &::after {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    transform: translateY(0);
    width: 100%;
    height: 100%;
    background-color: $white;
    z-index: 2;
    content: '';

    .Family.is-visible & {
      transition: transform 0.85s $easeOutCirc;
      transform: translateY(-100%);
    }
  }
}
