@import '../../utils/functions';
@import '../../utils/vars';
@import '../../utils/responsive';

.Family {
  position: relative;
  z-index: $z-level-1;
}

.Family-grid {
  
  @include respond-to(md) {
  display: grid;
  grid-gap: $ms1;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  }
}

.Family-heading {
  margin: auto;
  max-width: 12ch;
  text-align: center;
  @include respond-to(md) {
    max-width: initial;
    margin: 0;
  }
}

.Family-subheading {
  text-align: center;
  line-height: 1.5;
}

.Family-item {
  position: relative;
  overflow: hidden;
  will-change: transform;
  margin-bottom: between(16px, 100px, $sm, $xlg); // same as Section padding.

  @include respond-to(md) {
    margin-bottom: 0;
  }

  &::before {
    content: '';
    display: block;
    padding-top: 75%;
  }

  &:nth-child(1) {
    grid-column-start: span 1;
    grid-row-end: span 2;
  }
  &:nth-child(2) {
    grid-column-end: span 1;
    grid-row-end: span 1;
  }
}

.Family-image {
  background-size: cover;
  bottom: 0;
  display: block;
  left: 0;
  margin: auto;
  position: absolute;
  right: 0;
  top: 0;
  width: 100%;
}
