@import '../../../utils/vars';

.CSHero {
  display: flex;
  align-items: center;
  justify-content: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  z-index: 1;
  position: relative;
  &::before {
    content: '';
    padding-bottom: 40%;
  }
}

.CSHero-caption {
  color: $white;
}
