$sm: 375px;
$md: 768px;
$lg: 1234px;

$blue: #006ad4;
$darkBlue: #1a3187;
$light: rgba(#f2f2f2, 0.5);
$white: #ffffff;
$red: #eb3659;
$dark: #3c435f;
$copy: #6f7489;
$bodyPadding: 25px;

$headingSize: 3rem;
$copySize: 1.1rem;
