@import './utils/functions';
@import './utils/responsive';
@import './utils/vars';
@import './utils/utility-classes';
@import './utils/reveal';

*,
*::before,
*::after {
  box-sizing: inherit;
}

html {
  font-family: $bodyFontFamily;
  font-size: between(10px, 16px, $sm, $lg);
  font-weight: 400;
  line-height: 1.414;
  text-rendering: optimizeLegibility;
  box-sizing: border-box;
  min-height: 100%;
  -webkit-font-smoothing: antialiased;
}

@media (min-width: $lg) {
  html {
    font-size: 16px;
  }
}

// Using CSS vars instead of Sass vars
// to be able to control them via MQ

// $ms0: 1.1rem; // 17.6px
// $ms1: 1.414rem; // 22.624px
// $ms2: 1.999rem; // 31.984px
// $ms3: 2.827rem; // 45.232px
// $ms4: 3.998rem; // 63.968px
// $ms5: 5.653rem; // 90.448px
// $ms6: 7.993rem; // 127.888px
// $ms7: 11.302rem; // 180.832px

// modularscale = base: 16px/1rem, ratio: 1.414
// except for ms0 because reasons

:root {
  --ms0: between(11.315px, 16px, $sm, $lg);
  --ms1: between(16px, 22.624px, $sm, $lg);
  --ms2: between(22.624px, 31.984px, $sm, $lg);
  --ms3: between(31.984px, 45.232px, $sm, $lg);
  --ms4: between(45.232px, 63.968px, $sm, $lg);
  --ms5: between(63.968px, 90.448px, $sm, $lg);
  --ms6: between(90.448px, 127.888px, $sm, $lg);
  --ms7: between(127.888px, 180.832px, $sm, $lg);
  
  @include respond-to(lg) {
    --ms0: 16px;
    --ms1: 22.624px;
    --ms2: 31.948px;
    --ms3: 45.232px;
    --ms4: 63.968px;
    --ms5: 90.448px;
    --ms6: 127.888px;
    --ms7: 180.832px;
  }
}

body {
  color: $dark;
  margin-bottom: between(200px, 320px, $sm, $md); //Footer min-height

  @include respond-to(md) {
    margin-bottom: 20rem;
  }
}

@font-face {
  font-family: 'FFDIN';
  src: url('assets/FFDINtrial.woff2') format('woff2');
  font-weight: 400;
}
@font-face {
  font-family: 'FFDIN';
  src: url('assets/FFDINCondBoldtrial.woff2') format('woff2');
  font-weight: 600;
}
