@import './utils/functions';
@import './utils/responsive';
@import './utils/vars';
@import './utils/utility-classes';

*,
*::before,
*::after {
  box-sizing: inherit;
}

html {
  font-family: $bodyFontFamily;
  font-size: between(10px, 16px, $sm, $lg);
  font-weight: 400;
  line-height: 1.414;
  text-rendering: optimizeLegibility;
  box-sizing: border-box;
  min-height: 100%;
  -webkit-font-smoothing: antialiased;
}

@media (min-width: $lg) {
  html {
    font-size: 16px;
  }
}

body {
  color: $dark;
}
