@import '../../utils/functions';
@import '../../utils/vars';
@import '../../utils/responsive';

.CaseStudy-section {
  padding: 0; // Resets the wrapping <Section /> styles; should ideally not be declared in this file.
  .t-body1:not(.IntroSection-key):not(.IntroSection-value) {
    font-size: 1.333rem; // Hacking this for now. I want smaller font-size and less opacity for these longer texts.
    opacity: 0.8;
    line-height: 1.666;
  }
}

.CaseStudy-bottom {
  align-items: center;
  justify-content: center;
  display: flex;

  @include respond-to(md) {
    justify-content: space-between;
  }
}

.ContentSection {
  padding: 1rem;

  @include respond-to(md) {
    padding: 5rem 18%;
  }
  &--gray {
    background: $barelyWhite;
  }

  &--tall {
    @include respond-to(md) {
      padding: 8rem 18%;
      min-height: 45rem;
    }
  }
}

.ContentSection-copy {
  margin-bottom: $ms4;
}
