@import '../../utils/vars.scss';

.CaseStudy-section {
  padding: 0; // Resets the wrapping <Section /> styles; should ideally not be declared in this file.
  .t-body1 {
    font-size: 1.333rem; // Hacking this for now. I want smaller font-size and less opacity for these longer texts.
    opacity: 0.8;
    line-height: 1.666;
  }
}

.ContentSection {
  padding: 10rem 18%;

  &--gray {
    background: $barelyWhite;
  }

  &--narrow {
    padding: 5rem 18%;
  }
}

.ContentSection-copy {
  margin-bottom: $ms4;
}
