@import '../../utils/vars.scss';

.CaseStudy-excerpt {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.CaseStudy-challenges {
  column-count: 2;
  text-align: justify;
  column-gap: $ms3;
  margin-bottom: $ms4;
}
