@import '../../../utils/functions';
@import '../../../utils/vars';
@import '../../../utils/responsive';

.Intro {
  display: flex;
  flex-wrap: wrap;

  @include respond-to(md) {
    flex-wrap: nowrap;
  }
}

.Intro-split {
  display: flex;
  padding: $ms1;
  
  @include respond-to(md) {
    padding: $ms5;
    min-height: 28rem;
    align-items: flex-end;
    width: 50%; 
  }
}

.Intro-description {
  font-size: 1.714rem;
}
