@import '../../../utils/functions';
@import '../../../utils/vars';
@import '../../../utils/responsive';

.Intro {
  display: flex;
  flex-wrap: wrap;
  padding: var(--ms2);

  @include respond-to(md) {
    min-height: between(200px, 320px, $md, $lg);
    flex-wrap: nowrap;
    padding: 0;
  }
  @include respond-to(lg) {
    min-height: 20rem;
  }
}

.Intro-split {
  display: flex;
  padding-bottom: var(--ms1);

  @include respond-to(md) {
    padding: var(--ms4);
    align-items: flex-end;
    width: 50%; 
  }

  > h1 {
    line-height: 1;
  }
}
