@import '../../../utils/vars.scss';

.IntroSection {
  width: 65%;
}

.IntroSection-wrapper {
  align-items: center;
  display: flex;
  justify-content: space-between;
}

.IntroSection-item {
  display: flex;
  align-items: baseline;
  margin-bottom: $ms1;
}

.IntroSection-key {
  font-family: 'FFDIN';
  font-weight: 600;
  font-size: $ms0 !important;
  letter-spacing: 1px;
  margin-right: $ms0;
  text-transform: uppercase;
  width: 40%;
}

.IntroSection-value {
  font-size: 1.2rem;
}
