@import '../../../utils/vars.scss';

.IntroSection {

}

.IntroSection-wrapper {
  align-items: center;
  display: flex;
  justify-content: space-between;
}

.IntroSection-item {
  display: flex;
  align-items: baseline;
  margin-bottom: $ms1;
}

.IntroSection-key {
  font-family: 'FFDIN';
  font-weight: 600;
  font-size: $ms0 !important;
  letter-spacing: 1px;
  margin-right: 0.5rem;
  text-transform: uppercase;
}
